

<div class="heading">
  <h1 class="headingOfConvertor">Currency Convertor</h1> 
</div>
<div class="example-container" style="display:flex ; flex-direction:row; margin: 20px;">

  <form [formGroup]="titleForm">
    <mat-form-field  appearance="fill" >
      <mat-label>Enter number</mat-label>
      <input matInput #input  placeholder="number" formControlName="number1" (keyup)="lengthInput($event)">
      <mat-hint align="end">Please enter number</mat-hint>
      <div *ngIf="submitted && f.number1.errors">
        <div *ngIf="f.number1.errors.required"><font color="red">Please type  number</font></div>
      </div>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Select Currency</mat-label>
      <mat-select formControlName="countryOne">
        <mat-option *ngFor="let option of keysArray ; let  i = index" [value]="option">{{option}}</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  </form>
  <div class="to">
    <p>To</p>
  </div>
  <form [formGroup]="secondForm">
    <mat-form-field appearance="fill">
      <mat-label>Select Currency</mat-label>
      <mat-select formControlName="countryTwo">
        <mat-option *ngFor="let option of keysArray ; let  i = index" [value]="option">{{option}}</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  </form>

  <button class="buttonClass" mat-button   mat-icon-button aria-label="Clear" (click)="submitCurrencyConvetor()">
    Submit
  </button>
  
  <div class="value">
    <h1 class="final">{{finalValue}} {{country2}}</h1>
  </div>

</div>

<mat-divider></mat-divider>

<div class="heading">
  <h1 class="headingOfConvertor">Length Convertor</h1> 
</div>

<div class="example-container " style="display:flex ; flex-direction:row; margin: 20px;">
  <form [formGroup]="lengthForm">
    <mat-form-field  appearance="fill" >
      <mat-label>Enter number</mat-label>
      <input matInput #input  placeholder="number" formControlName="value1" (keyup)="lengthOfLengthConvertor()" >
      <mat-hint align="end">Please enter number</mat-hint>
      <div *ngIf="submit && g.value1.errors">
        <div *ngIf="g.value1.errors.required"><font color="red">Please type  number</font></div>
      </div>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Select Currency</mat-label>
      <mat-select formControlName="lengthOne">
        <mat-option *ngFor="let option of lengthArray ; let  i = index" [value]="option">{{option}}</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  </form>

  <div class="to">
    <p>To</p>
  </div>
  <form [formGroup]="secondlengthForm">
    <mat-form-field appearance="fill">
      <mat-label>Select Currency</mat-label>
      <mat-select formControlName="lengthTwo">
        <mat-option *ngFor="let option of lengthArray ; let  i = index" [value]="option">{{option}}</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  </form>

  <button  class="buttonClass" mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="submitLengthConvertor()">
    Submit
  </button>
  
  <div class="value">
    <h1 class="final">{{finalLengthValue}} {{finalUnit}}</h1>
  </div>

</div>