// .example-form-field {
//     width: 200px;
//   }


//   .example-additional-selection {
//     opacity: 0.75;
//     font-size: 0.75em;
//   }

//   .new{
//     margin : 0 auto !important;
//   }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .buttonClass{
    margin-left: 20px;
    height: 47px;
    width: 84px;
    color: white;
    background: #3f51b5;
    font-size: 16px;
}
.to{
  padding: 17px;
}

.heading{
  margin: 20px;
  font-weight: 500;
}

.value{
      margin-left: 32px;
      margin-top: 5px;
      font-weight: 800;
}

.headingOfConvertor{
  font-weight: 500;
}
.final{
  font-weight: 500
}